#Ignore directory with fastq files
fq
#Ignore folder containing third party tools
lib
#Ignore output directory
local
#Ignore reference folder
ref
!ref/mdr.fa
!ref/mdr.bed
#Ignore pycache
__pycache__
pyamd/__pycache__
